.active {
    padding: 5px 20px;
    background: linear-gradient(to right, #ff6c6c, #7d5fff);
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #ff6c6c, #7d5fff) 1;
    border-radius: 0px;
    font-weight: bold;
}